name: Build and Push FastAPI Image to ACR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      # Azure authentication (OIDC)
      #- name: Azure Login
      #  uses: azure/login@v1
      #  with:
      #    client-id: ${{ secrets.AZURE_CLIENT_ID }}
      #    tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      #    subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # ACR login
      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      # Build & push image
      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/fastapi:latest

      # Force App Service to re-pull image
      #- name: Restart App Service
      #  uses: azure/cli@v2
      #  with:
      #    inlineScript: |
      #      az webapp restart \
      #        --name ${{ secrets.WEBAPP_NAME }} \
      #        --resource-group ${{ secrets.RESOURCE_GROUP }}