name: Build and Push FastAPI Image to ACR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Build and push image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.ACR_LOGIN_SERVER }}/fastapi:latest

      - name: Restart App Service
        uses: azure/cli@v2
        with:
          inlineScript: |
            az webapp restart \
              --name ${{ secrets.WEBAPP_NAME }} \
              --resource-group ${{ secrets.RESOURCE_GROUP }}